<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="nonAdmin/Adminbase::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>

<body>
    <section>
        <div class="card">
            <div class="card-body view-contacts" th:if="${contact}">
                <div class="box text-center d-flex justify-content-center align-items-center gap-10">
                    <!-- <h1>Your Contact</h1> -->
                    <img src="" th:src="@{'/image/' + ${contact.image}}" alt="" class="profile_img_bg">
                    <h2 th:text="'( ' + ${contact.name} + ' )'" class="p-3"></h2>
                </div>
                <!-- Updation message -->
                <div th:if="${suc_message}" th:text="${suc_message}" class="alert alert-success p-2 col-sm-6 mt-2 mb-2 m-auto text-center"></div>
                <table class="table text-center mb-5 mt-3">
                    <thead>
                        <tr>
                            <th scope="col">User Id</th>
                            <th scope="col" th:text="SCMUSER + ${contact.cId}">0000</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Email</th>
                            <td>
                                <a th:href="@{'mailto:' + ${contact.email}}"><span th:text="${contact.email}">user@gmail.com</span></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td>
                                <a th:href="@{'tel:' + ${contact.phones}}"><span th:text="${contact.phones}">99999999</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <a th:href="@{'/user/view-contacts/' + ${currentPage}}"><button class="btn btn-outline-primary">Back</button></a> -->
                    <div class="text-center pb-4">
                        <a th:href="@{'/user/' + ${contact.cId} + '/update'}"><button class="btn btn-primary">Update</button></a>
                       <!-- <a href="" th:onclick="|deleteContact(${contact.cId}, ${currentPage})|"> <button class="btn btn-danger" >Delete</button></a> -->
                       <button class="btn btn-danger" th:onclick="|deleteContact(${contact.cId}, ${currentPage})|">Delete</button>
                    </div>
            </div>
        <!-- Error message -->
         <div th:unless="${contact}" 
         class="bg-danger text-white p-2 text-center">
            <!-- <span th:text="${suc}">dfdfdfd</span> -->
            <span th:text="${err_mes}">Contact Not found ! Or You can't access this contact.</span>
         </div>
        </div>

    </section>
</body>

</html>