<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="ban-all">
        <div class="container mw-50" id = "about-con">
            <!-- <h1>Smart Contact Manager</h1> -->
            <h2>About Me</h2>
            <hr>
            <p>
              Hi, I’m <span class="highlight">Nayan Mandal</span>, a passionate Full-Stack Developer with expertise in 
              <span class="highlight">Java, Spring Boot, HTML, CSS, JavaScript, and MySQL</span>. I love building 
              scalable and efficient web applications that solve real-world problems. With a knack for learning new 
              technologies, I focus on delivering user-friendly and impactful solutions.
            </p>
            <h2 class="pt-3">About My Project</h2>
            <hr>
            <ul class = "list-arrow">
              <li>
                <span class="highlight">Smart Contact Manager</span> is a web-based application designed to efficiently manage 
                user contacts. It provides a seamless platform for users to add, update, view, and organize contact details 
                with ease.
              </li>
              <li>
                Built using <span class="highlight">Java</span>, <span class="highlight">Spring Boot</span>, 
                <span class="highlight">HTML</span>, <span class="highlight">CSS</span>, <span class="highlight">JavaScript</span>, 
                and <span class="highlight">MySQL</span>, the project emphasizes secure data handling, responsive design, and 
                a user-friendly interface.
              </li>
              <li>
                Key features include role-based access control, optimized database queries for faster data retrieval, and 
                integration with third-party APIs for extended functionality. Rigorous testing was conducted to ensure 
                cross-browser compatibility and enhanced performance.
              </li>
              <li>
                Through this project, I demonstrated my skills in full-stack development, API integration, and creating 
                scalable and secure solutions.
              </li>
            </ul>
          </div>
    </section>
</body>
</html>