<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section class="hm-ban d-flex justify-content-center align-items-center">
        <div class="ps-5 text-center">
            <div class="fw-bold">
            <h1>Smart Contact Manager</h1>
            </div>
            <div class="fw-medium">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, ut?</p>
            </div>
            <div>
                <button class="btn bg-primary btn-lg hm-btn"><a href="./signup">Get Start</a></button>
            </div>
        </div>
    </section>
</body>

</html>